/* style sheet for index, portolio, and contact html pages */

/* THIS CODE DOES NOT WORK
HOW TO CHANGE NAV ELEMENT COLOR? */
.nav-item {
  color: #ffffff;
}

/* nav bar justify right. DOES NOT WORK */
.nav {
  justify-content: right;
}



/* About pg card image */
.card-img {
  margin: 10px;

}

.card-title {
  background-color: #b79ddf; /*worked to make card title background minty */
  color: rgb(82, 80, 80)fff /* does not work to make text white*/
}

.container {
  margin: 30px;
  padding: 20px;

}


/* portfolio  */
.imgContainer {
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

/* portfolio element names */
.textName {
  box-sizing: border-box;
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 100%;
  background-color: #b79ddf;
  color: #ffffff;
  opacity: 0.8;
}

/*  */
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: #ffffff;
  height: 50px;
  background-color:#9f7dd3;
  padding: 15px;
  border-top: 8px solid rgb(64, 63, 66);
  border-color: rgb(64, 63, 66);
  text-align: center;
}

.contact {
height: 100%;
width: 100%;
}

.about {
  height: 100%;
  width: 100%;
  }



 /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { ... }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { ... }
  
 /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) { ... }
  .port {
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  
 /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { ... }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { ... }

  /* fixes media responsiveness on abt and contact tabs */
  @media screen and (max-width: 480px) {
      /*contact page form*/
      .contact {
        margin: 0;
      }
      

      .about {
        margin: 0;

      }
      }
    }

  }

